body {
    font-family: 'Times New Roman', Times, serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    background: url("/img/fundo.gif") no-repeat center center fixed;
    background-size: cover;
}

form {
    max-width: 420px;
    margin: 20px auto;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

.form div {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    font-size: 15px;
    color: #c4bcbc;
}

input, textarea {
    width: 100%;
    padding: 7px;
    margin-top: 3px;
    border: 1px solid #341d1d;
    border-radius: 5px;
    font-size: 13px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 80px; 
}

button {
    width: 100%;
    padding: 8px; 
    background: #09102B;
    color: rgb(255, 255, 255);
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #005fd1;
}

#res {
    text-align: center;
    font-size: 20px;
}

#resultado {
    max-width: 420px;
    margin: 15px auto;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    font-size: 14px;
    line-height: 20px;

}
